- @title = "ChiliProject Plugins"
- @h1 = "Plugins"
- @selected = :plugins

- content_for :actions do
  = link_to( "Add Plugin", new_plugin_path, :class => "button-plus")

.view_order
  View
  != view_orders(@order)

= paginate @plugins

= render :partial => "plugin", :collection => @plugins

= paginate @plugins